.flex {
  display: flex;
}

.width-55{
  width: 55%;
}

.width-45{
  width: 45%;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.tech-icon {
  margin: 6px;
  transition: transform 0.3s ease;
}

.tech-icon:hover {
  transform: scale(1.25) rotate(5deg);
}
